/*
 *= require flatpickr
 *= require flatpickr/themes/material_blue
 */

 @import "bootstrap";

// 全体
.graph-container {
  @extend .container-fluid;
  max-width: 768px;
  padding: 2rem;
}

// フラッシュ
div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// モーダル

button.close {
  overflow : hidden;
  outline : none;
}

/* =========ヘッダー開始========== */

header.sticky-top nav.navbar{
  padding-left: 50px;
}

header.sticky-top .navbar {
  padding: 5px 50px 5px 10px;
}

footer{
  margin-top: 40px;
  background-color: #343A40;
  color: #EEEEEE;
  padding: 20px;
  text-align: center;
}