/*
 *= require flatpickr
 *= require flatpickr/themes/material_blue
 */

 @import "bootstrap";

// 全体
.graph-container {
  @extend .container-fluid;
  max-width: 768px;
  padding: 2rem;
}

// フラッシュ
div.alert-notice {
  @extend .alert-info;
}

div.alert-alert {
  @extend .alert-danger;
}

// モーダル

button.close {
  overflow : hidden;
  outline : none;
}


html,body {
  height: 100%;
}

.wrapper{
  width: 100%;
  position: relative;
  min-height: 100%;
}

/* =========ヘッダー開始========== */

.wrapper header.sticky-top nav.navbar{
  padding-left: 50px;
}

.wrapper header.sticky-top .navbar {
  padding: 5px 50px 5px 10px;
}

.wrapper header.sticky-top .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

/* =========フッダー開始========== */

footer{
  background-color: #343A40;
  color: #EEEEEE;
  width:100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  display:flex;
  justify-content: center;
}

footer p {
  margin-top: 15px;
}